

.image{
    
     background-image: url(https://www.itl.cat/pngfile/big/228-2281950_quotes-about-nutrition-month.jpg);
     background-position: center;
     background-size: cover;
     height: 80vh;
}