
{%extends 'lay.html'%}

{%block content%}
<div class="image"></div>
<P><h1 class="title"> Welcome To Nutri App</br>
<h2 style="text-align:center">Nutrition is a natural demand for every source of life on Earth.</h1></br>
    <p style="text-align:center"><span style="color:purple;font-weight:bold">We provide information based on the food choice.</br>
        You can check the food content by uploading the </br>
      food image or food name. We provide the service to track </br>
    your daily food intake and track the nutrition intake.</span></br>
    <span style='font-size:100px;'>&#128522;</span></br></h2></p>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

{%endblock content%}
