

body {
    background-color: rgb(195, 219, 17);
    align-items: center;
    justify-content: center;
    
}



img {
    height: 200px;
    border-radius: 10px;
    margin: 10px;

}