<!DOCTYPE html>
<html>
<head>
<style>

body {
       background-image: url('https://s3.envato.com/files/367559960/DSC08560.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100% ;

}
</style>
  </head>
  <body>
	<h2>CONTACT US</h2>


	<h3><label for="fname">Enter a valid email address:</label></h3>
	<input type="text" id="fname" name="fname"><br>
	<h3><label for="lname">Enter your name:</label></h3>
	<input type="text" id="lname" name="lname"><br><br>
	<textarea name="message" style="width:300px; height:200px; font-size:140%;">Enter your message</textarea></h3><br><br>
	<input type="submit" value="submit">
  </form>
</body>
</html>